In [2]:
print("hello")

hello

In [1]:
a=6
print(a)
print(type(a))

6
<class 'int'>

In [2]:
a=9.9
print(a)
print(type(a))


a=[2,3]
print(a)
print(type(a))


a=(5,6)
print(a)
print(type(a))
 

a=(0,10)
print(a)
print(type(a))


a={1:"abcd",2:"qwert"}
print(a)
print(type(a))

9.9
<class 'float'>
[2, 3]
<class 'list'>
(5, 6)
<class 'tuple'>
(0, 10)
<class 'tuple'>
{1: 'abcd', 2: 'qwert'}
<class 'dict'>

In [4]:
a=range(1,10)
print(a)
print(type(a))

range(1, 10)
<class 'range'>

In [5]:
a="s"
print(a)
print(type(a))

s
<class 'str'>

In [18]:
a="abcd"
b="efgh"
c="ijkl"
print(a,"\n",b,"\n",c,"\n","mnop")
print(a+b+c+"mnop")

abcd
 efgh
 ijkl
 mnop
abcdefghijklmnop

In [10]:
a=input()
b=input()
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 5
 6

56
<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
a=int(input())
b=int(input())
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 5
 6

11
<class 'int'>
<class 'int'>
<class 'int'>

In [13]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

enter first number: 5
enter second number: 6

11
<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
a,b,c=input("enter three number:").split()

d=a+b+c
print(d)
print(type(a))
print(type(b))
print(type(c))

enter three number: 5 6 7

567
<class 'str'>
<class 'str'>
<class 'str'>

In [20]:
a,b,c=input("enter three number:").split()

d=a+b+c
print(d)
print(type(a))
print(type(b))
print(type(c))

enter three number: 4 5 6

456
<class 'str'>
<class 'str'>
<class 'str'>

In [19]:
a,b,c=input("enter three number:").split()

d=a+b+c
print(d)
print(type(a))
print(type(b))
print(type(c))

enter three number: 4 raj 5.5

4raj5.5
<class 'str'>
<class 'str'>
<class 'str'>